.score-text {
  font-family: VG5000;
  font-size: 4rem;
  fill: white;
  transform: translate(30px, 35px); // ajuste la position verticale pour centrer le texte
}

.score-a {
  fill: #1E8F4E;
}

.score-b {
  fill: #2ECC71;
}

.score-c {
  fill: #F5C100;
}

.score-d {
  fill: #EF7E1A;
}

.score-e {
  fill: #D93726;
}
